
<div class="filter" id="search-filter">
    <div class="block">
        <label>מרחק</label>
        <input id="filter-distance" type="range" value="10" min="1" max="30" oninput="this.nextElementSibling.value = 'עד ' + this.value + ' קמ'">
        <output>עד 10 קמ</output>
    </div>
    <div class="block">
        <label>מחיר</label>
        <input id="filter-price" type="range" value="50" min="0" max="100" oninput="this.nextElementSibling.value = 'עד ' + this.value + ' שח'">
        <output>עד 50 שח</output>
    </div>
    <div class="block">
        <label>גודל</label>
        <input id="filter-size" type="range" value="9" min="1" max="30" ondrop="search_results()" oninput="this.nextElementSibling.value = 'עד ' + this.value + ' משתתפים'">
        <output>עד 9 משתתפים</output>
    </div>
    <div class="block">
        <label>דירוג</label>
        <input id="filter-score" type="range" value="3" min="0" max="5" oninput="this.nextElementSibling.value = 'לםחות ' + this.value + ' כוכבים'">
        <output>לםחות 3 כוכבים</output>
    </div>
</div>
