<div class="topics">
    <a href="#" class="button" onclick="search_results('שיעור')">
        <img class="circle" src="../static/images/study.png">
        <h2>חינוך</h2><br>
    </a>
    <a href="#" class="button" onclick="search_results('קבוצה')">
        <img class="circle" src="../static/images/sport.png">
        <h2>ספורט</h2><br>
    </a>
    <a href="#" class="button" onclick="search_results('פיתוח')">
        <img class="circle" src="../static/images/music.png">
        <h2>מוזיקה</h2><br>
    </a>
    <a href="#" class="button" onclick="search_results('כלב')">
        <img class="circle" src="../static/images/other.png">
        <h2>אחר</h2><br>
    </a>
</div>